.ci {
  border: none !important; 
  background: transparent !important;
  box-shadow: none !important;
}

.logo-landing {
  height: 150px;
  border: none !important;
}

.squicky {
  height: 150px;
}

.one-liner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  height: 60px;
}

.background-box {
  background-color: rgba(0, 0, 0, 0.5);
}
